@reference './variant.css';
.bk-tab {
  @apply min-w-16;
  @apply w-28;
  @apply p-3;
}
.bk-tab.horizontal.special {
  :not(.first) {
    border-left: none;
  }
  :not(.last) {
    border-right: none;
  }
}
.bk-tab.vertical.special {
  :not(.first) {
    border-top: none;
  }
  :not(.last) {
    border-bottom: none;
  }
}