@reference 'tailwindcss';

@layer components {
  .bk-primary,
  .bk-secondary,
  .bk-dark,
  .bk-light,
  .bk-success,
  .bk-error,
  .bk-warning,
  .bk-info {
    font-family: sans-serif;
    @apply border-2;
  }

  .bk-primary {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    border-color: var(--primary-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--primary-color-hover);
      }
    }
    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--primary-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--primary-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--primary-color-text);
      }
    }
  }

  .bk-secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-color-text);
    border-color: var(--secondary-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--secondary-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--secondary-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--secondary-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--secondary-color-text);
      }
    }
  }

  .bk-dark {
    background-color: var(--dark-color);
    color: var(--dark-color-text);
    border-color: var(--dark-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--dark-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--dark-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--dark-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--dark-color-text);
      }
    }
  }

  .bk-light {
    background-color: var(--light-color);
    color: var(--light-color-text);
    border-color: var(--light-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--light-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--light-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--light-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--light-color-text);
      }
    }
  }

  .bk-success {
    background-color: var(--success-color);
    color: var(--success-color-text);
    border-color: var(--success-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--success-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--success-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--success-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--success-color-text);
      }
    }
  }

  .bk-error {
    background-color: var(--error-color);
    color: var(--error-color-text);
    border-color: var(--error-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--error-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--error-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--error-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--error-color-text);
      }
    }
  }

  .bk-warning {
    background-color: var(--warning-color);
    color: var(--warning-color-text);
    border-color: var(--warning-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--warning-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--warning-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--warning-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--warning-color-text);
      }
    }
  }

  .bk-info {
    background-color: var(--info-color);
    color: var(--info-color-text);
    border-color: var(--info-color-border);

    .apply-variant.hover:hover,
    &.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--info-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--info-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--info-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--info-color-text);
      }
    }
  }

  .bk-primary,
  .bk-secondary,
  .bk-light,
  .bk-dark,
  .bk-success,
  .bk-error,
  .bk-warning,
  .bk-info {
    .disabled,
    :disabled,
    &.disabled,
    &:disabled {
      @apply brightness-[0.80];
      cursor: initial;
    }
  }
}