@reference 'tailwindcss';
@theme {
    --base-light-text-color: var(--color-gray-50);
    --base-dark-text-color: #1f2937;
    --box-shadow: 0 0 3px 2px;

    --primary-color: var(--color-sky-500);
    --primary-color-hover: var(--color-sky-600);
    --primary-color-focus: var(--color-sky-600);
    --primary-color-active: var(--color-sky-600);
    --primary-color-border: var(--color-sky-600);
    --primary-color-text: var(--base-light-text-color);

    --secondary-color: var(--color-orange-600);
    --secondary-color-hover: var(--color-orange-700);
    --secondary-color-focus: var(--color-orange-700);
    --secondary-color-active: var(--color-orange-700);
    --secondary-color-border: var(--color-orange-700);
    --secondary-color-text: var(--base-light-text-color);

    --dark-color: var(--color-gray-600);
    --dark-color-hover: var(--color-gray-700);
    --dark-color-focus: var(--color-gray-700);
    --dark-color-active: var(--color-gray-700);
    --dark-color-border: var(--color-gray-700);
    --dark-color-text: var(--base-light-text-color);

    --light-color: var(--color-gray-200);
    --light-color-hover: var(--color-gray-300);
    --light-color-focus: var(--color-gray-300);
    --light-color-active: var(--color-gray-300);
    --light-color-border: var(--color-gray-300);
    --light-color-text: var(--base-dark-text-color);

    --success-color: var(--color-green-600);
    --success-color-hover: var(--color-green-700);
    --success-color-focus: var(--color-green-700);
    --success-color-active: var(--color-green-700);
    --success-color-border: var(--color-green-700);
    --success-color-text: var(--base-light-text-color);

    --error-color: var(--color-red-600);
    --error-color-hover: var(--color-red-700);
    --error-color-focus: var(--color-red-700);
    --error-color-active: var(--color-red-700);
    --error-color-border: var(--color-red-700);
    --error-color-text: var(--base-light-text-color);

    --info-color: var(--color-blue-500);
    --info-color-hover: var(--color-blue-600);
    --info-color-focus: var(--color-blue-600);
    --info-color-active: var(--color-blue-600);
    --info-color-border: var(--color-blue-600);
    --info-color-text: var(--base-light-text-color);

    --warning-color: var(--color-yellow-500);
    --warning-color-hover: var(--color-yellow-600);
    --warning-color-focus: var(--color-yellow-600);
    --warning-color-active: var(--color-yellow-600);
    --warning-color-border: var(--color-yellow-600);
    --warning-color-text: var(--base-dark-text-color);
}

@layer components {
  .bk-primary,
  .bk-secondary,
  .bk-dark,
  .bk-light,
  .bk-success,
  .bk-error,
  .bk-warning,
  .bk-info {
    font-family: sans-serif;
    @apply border-2;
  }

  .bk-primary {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    border-color: var(--primary-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--primary-color-hover);
      }
    }
    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--primary-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--primary-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--primary-color-text);
      }
    }
  }

  .bk-secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-color-text);
    border-color: var(--secondary-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--secondary-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--secondary-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--secondary-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--secondary-color-text);
      }
    }
  }

  .bk-dark {
    background-color: var(--dark-color);
    color: var(--dark-color-text);
    border-color: var(--dark-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--dark-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--dark-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--dark-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--dark-color-text);
      }
    }
  }

  .bk-light {
    background-color: var(--light-color);
    color: var(--light-color-text);
    border-color: var(--light-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--light-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--light-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--light-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--light-color-text);
      }
    }
  }

  .bk-success {
    background-color: var(--success-color);
    color: var(--success-color-text);
    border-color: var(--success-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--success-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--success-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--success-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--success-color-text);
      }
    }
  }

  .bk-error {
    background-color: var(--error-color);
    color: var(--error-color-text);
    border-color: var(--error-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--error-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--error-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--error-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--error-color-text);
      }
    }
  }

  .bk-warning {
    background-color: var(--warning-color);
    color: var(--warning-color-text);
    border-color: var(--warning-color-border);

    &.hover:hover,
    .apply-variant.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--warning-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--warning-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--warning-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--warning-color-text);
      }
    }
  }

  .bk-info {
    background-color: var(--info-color);
    color: var(--info-color-text);
    border-color: var(--info-color-border);

    .apply-variant.hover:hover,
    &.hover:hover {
      &:not(.disabled, :disabled) {
        background-color: var(--info-color-hover);
      }
    }

    &.active-active,
    .apply-variant.active-active,
    &.is-selected,
    .apply-variant.is-selected {
      background-color: var(--info-color-active);
    }

    .apply-variant.focus:focus,
    &.focus:focus {
      &:not(.disabled, :disabled) {
        box-shadow: var(--box-shadow) var(--info-color-focus);
      }
    }

    .bk-icon {
      & path.stroke {
        stroke: var(--info-color-text);
      }
    }
  }

  .bk-primary,
  .bk-secondary,
  .bk-light,
  .bk-dark,
  .bk-success,
  .bk-error,
  .bk-warning,
  .bk-info {
    .disabled,
    :disabled,
    &.disabled,
    &:disabled {
      @apply brightness-[0.80];
      cursor: initial;
    }
  }
}